.vscode/**
.vscode-test/**
test/**
.gitignore
**/jsconfig.json
**/*.map
**/.eslintrc.json
.prettierignore
prettier.config.js
.nyrc.json
.eslintcache
coverage/**
.nyc_output
.nycrc.json
.github/**
.git/**
node_modules/**
!node_modules/viz.js/viz.js
!node_modules/viz.js/full.render.js
!node_modules/ts-pnp/index.js
.cache/