.vscode/**
.vscode-test/**
test/**
.gitignore
**/jsconfig.json
**/*.map
**/.eslintrc.json
.prettierignore
prettier.config.js
.nyrc.json
.eslintcache
coverage/**
.nyc_output
.nycrc.json
.github/**
.git/**
node_modules/**